---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/1270051882/playlists
    body:
      encoding: UTF-8
      string: '{"name":"party name","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQDdAPDPDGyotHHjwslG4XY-nJ59bLCmKfYp2SVo6jUz_ItI2lbPGdncNrx6ajcCsO60RnjwA5MPiYNg20Aupr3KmxVW1OVKLJeZaxcjCW2GzSJtXUks4lS6wQ19cMk7BB5WTVj5mdnJ0_981L6zA5CAHlqgACaXdI9MBuhoTkb0IZEXhHYrbBgMUFUQBPODn9u6epU7d6Vl1ApFVWSka5cK-ck
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/3EpkGgOImu9iHdNRz1Wge4
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/3EpkGgOImu9iHdNRz1Wge4"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/3EpkGgOImu9iHdNRz1Wge4",
          "id" : "3EpkGgOImu9iHdNRz1Wge4",
          "images" : [ ],
          "name" : "party name",
          "owner" : {
            "display_name" : "Neeru Ram",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/1270051882"
            },
            "href" : "https://api.spotify.com/v1/users/1270051882",
            "id" : "1270051882",
            "type" : "user",
            "uri" : "spotify:user:1270051882"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSwzYTY5ZjBlNTAyNmM2ZjkxNTg2MGRmNzgzMWYxMjI5MzQzNzdkYzJl",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/3EpkGgOImu9iHdNRz1Wge4/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:3EpkGgOImu9iHdNRz1Wge4"
        }
  recorded_at: Fri, 18 Sep 2020 16:37:27 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/3EpkGgOImu9iHdNRz1Wge4/tracks?uris=%5B%22spotify:track:4mYG4iHgfxlPaqfT3BQ0ec%22,%20%22spotify:track:1Bj6YgjjPbEb4jhQ50T8tJ%22,%20%22spotify:track:6qspW4YKycviDFjHBOaqUY%22,%20%22spotify:track:12G1TYIfbpvC0mdFFn4Pbg%22,%20%22spotify:track:6gJdDnF2TzfA1WPMXuCa3x%22,%20%22spotify:track:7sJN693sYKEIEMu7fc5VnJ%22,%20%22spotify:track:2vytyWClpsahqcL6NibSE3%22,%20%22spotify:track:4Yenz5JZZOUiZSeyKY8bDz%22,%20%22spotify:track:3jp[...]
[...]
