---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/tracks?limit=50&offset=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC2UxsMlnHAzDviAMtJtUw3jRCbzmUyFqv_Uo0EYwGWwvxV5ISrymRwnX0kt7OnO7Efjx4UWCwKO4vE6dIXMxH4OKJzb6lurlWG4KWNAwYUnjuJIzS4ajaxDaHVJuzib2tXnxWNyFukyrUXPrpct4llFD3n9aUJaP0TPrsQaeYRg5c7sieFgVKvho3VwjAGSwuhKWbXMx-0f58IkUKZBLJ6ZKQ_-r86KPi-H5gPP3Y
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjEwMzQ5YWU1ODA2MWJmMzc3MGMzNGVjMzA4Njc0OGM5Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/me/tracks?offset=1&limit=50",
          "items" : [ {
            "added_at" : "2020-09-16T20:55:06Z",
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/7B4hKK0S9QYnaoqa9OuwgX"
                  },
                  "href" : "https://api.spotify.com/v1/artists/7B4hKK0S9QYnaoqa9OuwgX",
                  "id" : "7B4hKK0S9QYnaoqa9OuwgX",
                  "name" : "Eazy-E",
                  "type" : "artist",
                  "uri" : "spotify:artist:7B4hKK0S9QYnaoqa9OuwgX"
                } ],
                "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/1SZNTl621XOcjFwOKtVy56"
                },
                "href" : "https://api.spotify.com/v1/albums/1SZNTl621XOcjFwOKtVy56",
                "id" : "1SZNTl621XOcjFwOKtVy56",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273655453a89b986b39ed563057",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02655453a89b986b39ed563057",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851655453a89b986b39ed563057",
                  "width" : 64
                } ],
                "name" : "It's On (Dr. Dre) 187um Killa",
                "release_date" : "1993-11-05",
                "release_date_precision" : "day",
                "total_tracks" : 8,
                "type" : "album",
                "uri" : "spotify:album:1SZNTl621XOcjFwOKtVy56"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/7B4hKK0S9QYnaoqa9OuwgX"
                },
                "href" : "https://api.spotify.com/v1/artists/7B4hKK0S9QYnaoqa9OuwgX",
                "id" : "7B4hKK0S9QYnaoqa9OuwgX",
                "name" : "Eazy-E",
                "type" : "artist",
                "uri" : "spotify:artist:7B4hKK0S9QYnaoqa9OuwgX"
              } ],
              "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 175240,
              "explicit" : true,
              "external_ids" : {
                "isrc" : "US23S9333105"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/4cPhuLaWqn0TZCs71wSk6s"
              },
              "href" : "https://api.spotify.com/v1/tracks/4cPhuLaWqn0TZCs71wSk6s",
              "id" : "4cPhuLaWqn0TZCs71wSk6s",
              "is_local" : false,
              "name" : "Gimmie That Nutt",
              "popularity" : 53,
              "preview_url" : "https://p.scdn.co/mp3-preview/21a1fdd07cdc4194bab6a0077e55c9df06db3856?cid=a0f08888138f498596c95802c23eb407",
              "track_number" : 5,
              "type" : "track",
              "uri" : "spotify:track:4cPhuLaWqn0TZCs71wSk6s"
            }
          }, {
            "added_at" : "2020-09-16T20:54:58Z",
            "track" : {
              "album" : {
                "album_type" : "compilation",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
                  },
                  "href" : "https://api.spotify.c[...]
