---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/1270051882/playlists
    body:
      encoding: UTF-8
      string: '{"name":"its a great day for clouds weather in paris","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQBggPQkOHz1gE6KSpSOdEdIqgzx5tkEpvBZk6Yq9DFs5uIuNJR7_sbWydi_azoWYMG3GRGGkaANkzb6dSo3vmQFapIgHJcDVSBqi4NJ2S80d9Zo5W85V2JDozobA9Xsn4Q-DjfRBF40jMyGXewWlnG_s8bGY5ZhwfIsdYSuCyV9Cak0Y2nngE4TaeucKMiOkNvrW_PnufHbyV6GbgfPzQtobUM
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/310I5oaEeePmxiBCx3usrX
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/310I5oaEeePmxiBCx3usrX"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/310I5oaEeePmxiBCx3usrX",
          "id" : "310I5oaEeePmxiBCx3usrX",
          "images" : [ ],
          "name" : "its a great day for clouds weather in paris",
          "owner" : {
            "display_name" : "Neeru Ram",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/1270051882"
            },
            "href" : "https://api.spotify.com/v1/users/1270051882",
            "id" : "1270051882",
            "type" : "user",
            "uri" : "spotify:user:1270051882"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSxhZmZhZDE5ZTQzNzczZGY4YWUwNWE1OWUyOWM2MWVjOTNkNTc0NDM1",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/310I5oaEeePmxiBCx3usrX/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:310I5oaEeePmxiBCx3usrX"
        }
  recorded_at: Thu, 17 Sep 2020 02:02:03 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/310I5oaEeePmxiBCx3usrX/tracks?uris=spotify:track:4mYG4iHgfxlPaqfT3BQ0ec,spotify:track:1Bj6YgjjPbEb4jhQ50T8tJ,spotify:track:6qspW4YKycviDFjHBOaqUY,spotify:track:12G1TYIfbpvC0mdFFn4Pbg,spotify:track:6gJdDnF2TzfA1WPMXuCa3x,spotify:track:7sJN693sYKEIEMu7fc5VnJ,spotify:track:2vytyWClpsahqcL6NibSE3,spotify:track:4Yenz5JZZOUiZSeyKY8bDz,spotify:track:3jpaB4JCMidb5XshQtDSGm,spotify:track:7KFThZQCAcj8JXdPRtdrXE,spotify:track:5vWwuFT[...]
