---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/3k89wfolhun8eo7wehmnmjli0/playlists
    body:
      encoding: UTF-8
      string: '{"name":"its a great day for rainy weather in denver","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Wed, 16 Sep 2020 23:51:18 GMT
recorded_with: VCR 6.0.0
