---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/bosigp0djzqxoyj6yq6sdzzaq/playlists
    body:
      encoding: UTF-8
      string: '{"name":"party name","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQDsKNYViB8eif9EaYLOxfU6D3P54qIuyh6TUdJAP9asvGsUeHZjil5oWg_8WCdDfhT8Ue6nfHVPshD9ft2pRCzO25ZyyR2uvHmf3vSq2yE5gxkDaNoAqBmora8kFXXXmK_XsHUsIZEZthy6-3T6oHVOFafWG6aP1YCIKplJdwFRN1wxvjsD3H3Wl73lI0U4-0j7A4803fjMs8WsWSgDqBuJvOX2ofbpQP755U_dfIJpNtg
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/2gMkBj7a6X65QNttUrUvUz
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/2gMkBj7a6X65QNttUrUvUz"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/2gMkBj7a6X65QNttUrUvUz",
          "id" : "2gMkBj7a6X65QNttUrUvUz",
          "images" : [ ],
          "name" : "party name",
          "owner" : {
            "display_name" : "Theawulff",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/bosigp0djzqxoyj6yq6sdzzaq"
            },
            "href" : "https://api.spotify.com/v1/users/bosigp0djzqxoyj6yq6sdzzaq",
            "id" : "bosigp0djzqxoyj6yq6sdzzaq",
            "type" : "user",
            "uri" : "spotify:user:bosigp0djzqxoyj6yq6sdzzaq"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSw4NzI5NTZmNzMwNDAwZjM1MzRhMWRjNTQ2ZGQxYmFjNmM4NTU4Yzk1",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/2gMkBj7a6X65QNttUrUvUz/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:2gMkBj7a6X65QNttUrUvUz"
        }
  recorded_at: Thu, 17 Sep 2020 16:24:36 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/2gMkBj7a6X65QNttUrUvUz/tracks?uris=spotify:track:4mYG4iHgfxlPaqfT3BQ0ec,spotify:track:1Bj6YgjjPbEb4jhQ50T8tJ,spotify:track:6qspW4YKycviDFjHBOaqUY,spotify:track:12G1TYIfbpvC0mdFFn4Pbg,spotify:track:6gJdDnF2TzfA1WPMXuCa3x,spotify:track:7sJN693sYKEIEMu7fc5VnJ,spotify:track:2vytyWClpsahqcL6NibSE3,spotify:track:4Yenz5JZZOUiZSeyKY8bDz,spotify:track:3jpaB4JCMidb5XshQtDSGm,spotify:track:7KFThZQCAcj8JXdPRtdrXE,spotify:track:5vWwuFT[...]
[...]
