---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/bosigp0djzqxoyj6yq6sdzzaq/playlists
    body:
      encoding: UTF-8
      string: '{"name":"its a great day for clouds weather in paris","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQCpglj5j8_uXeZ7QfaTDVBXOw5ExFaLoCIL7Uhjc07ilhmjbphu_wJ8h3bXjqAhxniibPVYu55lLG48Pjd7_MM9AlAbPqMhLUSzkQ_s6EFPt8dHrj0OUSlhMNeUYyuz2j7x-hS3i1pGUL1_KrVjs0Ao2RRrA7LHWzheek2j15nqYZqRdz_Eob4jVyoIoiG1fF0N4RyFg_Ii_1Eu3ls0Yu8fAmd5eJNPhl3_-CDza5O-3xk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/5gC79h7DUrnArVq0kHpRxa
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/5gC79h7DUrnArVq0kHpRxa"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/5gC79h7DUrnArVq0kHpRxa",
          "id" : "5gC79h7DUrnArVq0kHpRxa",
          "images" : [ ],
          "name" : "its a great day for clouds weather in paris",
          "owner" : {
            "display_name" : "Theawulff",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/bosigp0djzqxoyj6yq6sdzzaq"
            },
            "href" : "https://api.spotify.com/v1/users/bosigp0djzqxoyj6yq6sdzzaq",
            "id" : "bosigp0djzqxoyj6yq6sdzzaq",
            "type" : "user",
            "uri" : "spotify:user:bosigp0djzqxoyj6yq6sdzzaq"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSwyMzAwZDgyODYyMzIzM2NiZjE0OGJlMTljYTE4ZmFmZTcyZjFlMTc1",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/5gC79h7DUrnArVq0kHpRxa/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:5gC79h7DUrnArVq0kHpRxa"
        }
  recorded_at: Thu, 17 Sep 2020 00:31:20 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/5gC79h7DUrnArVq0kHpRxa/tracks?uris=spotify:track:4mYG4iHgfxlPaqfT3BQ0ec,spotify:track:1Bj6YgjjPbEb4jhQ50T8tJ,spotify:track:6qspW4YKycviDFjHBOaqUY,spotify:track:12G1TYIfbpvC0mdFFn4Pbg,spotify:track:6gJdDnF2TzfA1WPMXuCa3x,spotify:track:7sJN693sYKEIEMu7fc5VnJ,spotify:track:2vytyWClpsahqcL6NibSE3,spotify:track:4Yenz5JZZOUiZSeyKY8bDz,spotify:track:3jpaB4JCMidb5XshQtDSGm,spotify:track:7KFThZQCAcj8JXdPRtdrXE,spotify:track:5vWwuFT[...]
