---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/3k89wfolhun8eo7wehmnmjli0/playlists
    body:
      encoding: UTF-8
      string: '{"name":"party time","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQC2UxsMlnHAzDviAMtJtUw3jRCbzmUyFqv_Uo0EYwGWwvxV5ISrymRwnX0kt7OnO7Efjx4UWCwKO4vE6dIXMxH4OKJzb6lurlWG4KWNAwYUnjuJIzS4ajaxDaHVJuzib2tXnxWNyFukyrUXPrpct4llFD3n9aUJaP0TPrsQaeYRg5c7sieFgVKvho3VwjAGSwuhKWbXMx-0f58IkUKZBLJ6ZKQ_-r86KPi-H5gPP3Y
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/06WlRO6eZncqEz45eoas8S
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/06WlRO6eZncqEz45eoas8S"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/06WlRO6eZncqEz45eoas8S",
          "id" : "06WlRO6eZncqEz45eoas8S",
          "images" : [ ],
          "name" : "party time",
          "owner" : {
            "display_name" : "Ashkan",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/3k89wfolhun8eo7wehmnmjli0"
            },
            "href" : "https://api.spotify.com/v1/users/3k89wfolhun8eo7wehmnmjli0",
            "id" : "3k89wfolhun8eo7wehmnmjli0",
            "type" : "user",
            "uri" : "spotify:user:3k89wfolhun8eo7wehmnmjli0"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSxiYzI2NzJhZTZjOTE2Yjg2MzZiOWU4YjY5ZGM1OGUwMGQ0MzRjMDFj",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/06WlRO6eZncqEz45eoas8S/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:06WlRO6eZncqEz45eoas8S"
        }
  recorded_at: Wed, 16 Sep 2020 23:21:35 GMT
recorded_with: VCR 6.0.0
