---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/bosigp0djzqxoyj6yq6sdzzaq/playlists
    body:
      encoding: UTF-8
      string: '{"name":"party time","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQCpglj5j8_uXeZ7QfaTDVBXOw5ExFaLoCIL7Uhjc07ilhmjbphu_wJ8h3bXjqAhxniibPVYu55lLG48Pjd7_MM9AlAbPqMhLUSzkQ_s6EFPt8dHrj0OUSlhMNeUYyuz2j7x-hS3i1pGUL1_KrVjs0Ao2RRrA7LHWzheek2j15nqYZqRdz_Eob4jVyoIoiG1fF0N4RyFg_Ii_1Eu3ls0Yu8fAmd5eJNPhl3_-CDza5O-3xk
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/4wqzD0V4xWHcsicoAReCp5
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/4wqzD0V4xWHcsicoAReCp5"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/4wqzD0V4xWHcsicoAReCp5",
          "id" : "4wqzD0V4xWHcsicoAReCp5",
          "images" : [ ],
          "name" : "party time",
          "owner" : {
            "display_name" : "Theawulff",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/bosigp0djzqxoyj6yq6sdzzaq"
            },
            "href" : "https://api.spotify.com/v1/users/bosigp0djzqxoyj6yq6sdzzaq",
            "id" : "bosigp0djzqxoyj6yq6sdzzaq",
            "type" : "user",
            "uri" : "spotify:user:bosigp0djzqxoyj6yq6sdzzaq"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSxiMmY5NGY5NDM4ZjAyM2FmNzU0OTZhMmI4ZGVhMGNjZmRmMGZhMjI2",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/4wqzD0V4xWHcsicoAReCp5/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:4wqzD0V4xWHcsicoAReCp5"
        }
  recorded_at: Thu, 17 Sep 2020 00:17:40 GMT
recorded_with: VCR 6.0.0
