---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/1270051882/playlists
    body:
      encoding: UTF-8
      string: '{"name":"party time","public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer BQBggPQkOHz1gE6KSpSOdEdIqgzx5tkEpvBZk6Yq9DFs5uIuNJR7_sbWydi_azoWYMG3GRGGkaANkzb6dSo3vmQFapIgHJcDVSBqi4NJ2S80d9Zo5W85V2JDozobA9Xsn4Q-DjfRBF40jMyGXewWlnG_s8bGY5ZhwfIsdYSuCyV9Cak0Y2nngE4TaeucKMiOkNvrW_PnufHbyV6GbgfPzQtobUM
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/6KUBvQDBCYUVZK3kHxNGnW
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/6KUBvQDBCYUVZK3kHxNGnW"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/6KUBvQDBCYUVZK3kHxNGnW",
          "id" : "6KUBvQDBCYUVZK3kHxNGnW",
          "images" : [ ],
          "name" : "party time",
          "owner" : {
            "display_name" : "Neeru Ram",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/1270051882"
            },
            "href" : "https://api.spotify.com/v1/users/1270051882",
            "id" : "1270051882",
            "type" : "user",
            "uri" : "spotify:user:1270051882"
          },
          "primary_color" : null,
          "public" : false,
          "snapshot_id" : "MSxiYTdkNjI0ODhkMDc0MGQ1N2RjNWJkOTA2ZTk1OWJlMzVjYThjN2U1",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/6KUBvQDBCYUVZK3kHxNGnW/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:6KUBvQDBCYUVZK3kHxNGnW"
        }
  recorded_at: Thu, 17 Sep 2020 02:01:59 GMT
recorded_with: VCR 6.0.0
