---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/recommendations?seed_tracks=5hTpBe8h35rJ67eAWHQsJx,6LcauUZjF1eXQrgqMUecHX,7sO5G9EABYOXQKNPNiE9NR,7IBSffWIu7P2MC7kMwy2FM,6URlKrAIlJJwHnHxxXWywt&target_energy=0.8&target_mode=1&target_speechiness=0.7&target_tempo=80&target_valence=0.5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCpglj5j8_uXeZ7QfaTDVBXOw5ExFaLoCIL7Uhjc07ilhmjbphu_wJ8h3bXjqAhxniibPVYu55lLG48Pjd7_MM9AlAbPqMhLUSzkQ_s6EFPt8dHrj0OUSlhMNeUYyuz2j7x-hS3i1pGUL1_KrVjs0Ao2RRrA7LHWzheek2j15nqYZqRdz_Eob4jVyoIoiG1fF0N4RyFg_Ii_1Eu3ls0Yu8fAmd5eJNPhl3_-CDza5O-3xk
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : [ {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/55Aa2cqylxrFIXC767Z865"
                },
                "href" : "https://api.spotify.com/v1/artists/55Aa2cqylxrFIXC767Z865",
                "id" : "55Aa2cqylxrFIXC767Z865",
                "name" : "Lil Wayne",
                "type" : "artist",
                "uri" : "spotify:artist:55Aa2cqylxrFIXC767Z865"
              } ],
              "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
              "external_urls" : {
                "spotify" : "https://open.spotify.com/album/1uuSC0RCJB3dSp8Mb6GflZ"
              },
              "href" : "https://api.spotify.com/v1/albums/1uuSC0RCJB3dSp8Mb6GflZ",
              "id" : "1uuSC0RCJB3dSp8Mb6GflZ",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/ab67616d0000b273a1edbe4e3f3e3fe296816af4",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/ab67616d00001e02a1edbe4e3f3e3fe296816af4",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/ab67616d00004851a1edbe4e3f3e3fe296816af4",
                "width" : 64
              } ],
              "name" : "Tha Carter IV (Deluxe)",
              "release_date" : "2011-01-01",
              "release_date_precision" : "day",
              "total_tracks" : 0,
              "type" : "album",
              "uri" : "spotify:album:1uuSC0RCJB3dSp8Mb6GflZ"
            },
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/55Aa2cqylxrFIXC767Z865"
              },
              "href" : "https://api.spotify.com/v1/artists/55Aa2cqylxrFIXC767Z865",
              "id" : "55Aa2cqylxrFIXC767Z865",
              "name" : "Lil Wayne",
              "type" : "artist",
              "uri" : "spotify:artist:55Aa2cqylxrFIXC767Z865"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/7BAaznGSsqcksud4R5ou5z"
              },
              "href" : "https://api.spotify.com/v1/artists/7BAaznGSsqcksud4R5ou5z",
              "id" : "7BAaznGSsqcksud4R5ou5z",
              "name" : "Cory Gunz",
              "type" : "artist",
              "uri" : "spotify:artist:7BAaznGSsqcksud4R5ou5z"
            } ],
            "available_markets" : [ "CA", "CR", "MX", "US" ],
            "disc_number" : 1,
            "duration_ms" : 248586,
            "explicit" : true,
            "external_ids" : {
              "isrc" : "USCM51000869"
            },
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/0z5ZPs57J2KERwM1tBM2GF"
            },
            "href" : "https://api.spotify.com/v1/tracks/0z5ZPs57J2KERwM1tBM2GF",
            "id" : "0z5ZPs57J2KERwM1tBM2GF",
            "is_local" : false,
            "name" : "6 Foot 7 Foot",
            "popularity" : 70,
            "preview_url" : null,
            "track_number" : 4,
            "type" : "track",
            "uri" : "spotify:track:0z5ZPs57J2KERwM1tBM2GF"
          }, {
            "album" : {
              "album_type" : "ALBUM",
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/05SdqPzK4m3k1ljK2wrTSP"
                },
                "href" : "https://api.spotify.com/v1/artists/05SdqPzK4m3k1ljK2wrTSP",
                "id" : "05SdqPzK4m3k1ljK2wrTSP",
                "name" [...]
