---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=salt%20lake%20city&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-111.89,"lat":40.76},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":65.88,"feels_like":59.88,"temp_min":60.01,"temp_max":72,"pressure":1019,"humidity":24},"visibility":10000,"wind":{"speed":3.36,"deg":130},"clouds":{"all":1},"dt":1599968957,"sys":{"type":1,"id":5859,"country":"US","sunrise":1599915956,"sunset":1599961295},"timezone":-21600,"id":5780993,"name":"Salt
        Lake City","cod":200}'
  recorded_at: Sun, 13 Sep 2020 03:55:19 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?limit=1&offset=5&q=Clear&type=playlist
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBzdpEBohe9ZwUrtPN0828pSWku1Gd6ibrYfvDzk2hTd00d-v9-8V2f3J8rI8J5rC62hSAWrI99wZibkQ9LB1t4y4nWY33849fR3Ndlmo5tfMyUDTkesP_QrP3JPWfdRfxPu1BeRzxXnaVdS7a8Og6gGv3NuvdCYGQlp3yVQqf8XZVsrzqlZy1yMmxV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "playlists" : {
            "href" : "https://api.spotify.com/v1/search?query=Clear&type=playlist&offset=5&limit=1",
            "items" : [ {
              "collaborative" : false,
              "description" : "For soothing study sessions and a bit of night time yoga. Just nice and relaxing alternative folk music.",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/playlist/0Cy6I6iag67srxk5Zlgdf3"
              },
              "href" : "https://api.spotify.com/v1/playlists/0Cy6I6iag67srxk5Zlgdf3",
              "id" : "0Cy6I6iag67srxk5Zlgdf3",
              "images" : [ {
                "height" : null,
                "url" : "https://i.scdn.co/image/ab67706c0000bebbb8c21418e91d36583240ffe6",
                "width" : null
              } ],
              "name" : "Clear Your Mind",
              "owner" : {
                "display_name" : "sroscelli",
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/user/sroscelli"
                },
                "href" : "https://api.spotify.com/v1/users/sroscelli",
                "id" : "sroscelli",
                "type" : "user",
                "uri" : "spotify:user:sroscelli"
              },
              "primary_color" : null,
              "public" : null,
              "snapshot_id" : "MTk5LDlhMTE0NGNkNjg4ZjVkZDViNmM4MTk3YTlhMzAxOTQ1MzMxNGIwMWU=",
              "tracks" : {
                "href" : "https://api.spotify.com/v1/playlists/0Cy6I6iag67srxk5Zlgdf3/tracks",
                "total" : 136
              },
              "type" : "playlist",
              "uri" : "spotify:playlist:0Cy6I6iag67srxk5Zlgdf3"
            } ],
            "limit" : 1,
            "next" : "https://api.spotify.com/v1/search?query=Clear&type=playlist&offset=6&limit=1",
            "offset" : 5,
            "previous" : "https://api.spotify.com/v1/search?query=Clear&type=playlist&offset=4&limit=1",
            "total" : 16293
          }
        }
  recorded_at: Sun, 13 Sep 2020 03:55:19 GMT
recorded_with: VCR 6.0.0
