---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=WEATHER_API_KEY&q=santiago,%20chi&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-70.65,"lat":-33.46},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":54.97,"feels_like":50.59,"temp_min":48.2,"temp_max":61,"pressure":1018,"humidity":53},"visibility":10000,"wind":{"speed":3.22,"deg":217},"clouds":{"all":0},"dt":1599919757,"sys":{"type":1,"id":8506,"country":"CL","sunrise":1599907515,"sunset":1599949946},"timezone":-10800,"id":3871336,"name":"Santiago","cod":200}'
  recorded_at: Sat, 12 Sep 2020 14:15:26 GMT
recorded_with: VCR 6.0.0
